Repository amannirala13/envguard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest run --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "**/__tests__/**/*.{js,jsx,ts,tsx}": ["vitest run --passWithNoTests"]
}

test: Add test line to gitignore
  .gitignore
Due: none

test: Remove testing comments from README
  README.md
Due: prettier --write

ci: Add comprehensive CI/CD workflow with multi-platform testing
  .github/workflows/ci.yml
  .lh/.github/workflows/ci.yml.json
  .lh/package.json.json
  docs/reference/cli/src/classes/SystemKeychain.md
  docs/reference/cli/src/functions/validateKey.md
  docs/reference/cli/src/functions/validateValue.md
  docs/reference/cli/src/interfaces/IKeychainProvider.md
  docs/reference/cli/src/type-aliases/TKeyChainKey.md
  docs/reference/cli/src/type-aliases/TKeyChainValue.md
  docs/reference/cli/src/type-aliases/TPackageName.md
  docs/reference/cli/src/variables/version.md
  package.json
Due: prettier --write

fix: Add missing @vitest/coverage-v8 dependency for coverage reports
  .lh/packages/cli/package.json.json
  .lh/packages/runner-node/package.json.json
  docs/reference/cli/src/classes/SystemKeychain.md
  docs/reference/cli/src/functions/validateKey.md
  docs/reference/cli/src/functions/validateValue.md
  docs/reference/cli/src/interfaces/IKeychainProvider.md
  docs/reference/cli/src/type-aliases/TKeyChainKey.md
  docs/reference/cli/src/type-aliases/TKeyChainValue.md
  docs/reference/cli/src/type-aliases/TPackageName.md
  docs/reference/cli/src/variables/version.md
  packages/cli/package.json
  packages/runner-node/package.json
Due: prettier --write

ci: Adjust coverage thresholds to realistic levels
  .lh/vitest.config.base.ts.json
  pnpm-lock.yaml
  vitest.config.base.ts
Due: eslint --fix, prettier --write

ci: Optimize workflow for faster PR feedback
  .github/workflows/ci.yml
  .lh/.github/workflows/ci.yml.json
Due: prettier --write

fix: Remove pnpm version conflict in CI workflow
  .github/workflows/ci.yml
  .lh/.github/workflows/ci.yml.json
Due: prettier --write

fix: Remove remaining pnpm version conflict in comprehensive job
  .github/workflows/ci.yml
  .lh/.github/workflows/ci.yml.json
Due: prettier --write

Remove GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix: Remove pnpm version conflict in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: Skip keychain tests in CI when service unavailable
  packages/cli/__tests__/core/system-keychain.test.ts
Due: eslint --fix, prettier --write, vitest run --passWithNoTests

fix: Lower function coverage threshold to 60%
  packages/cli/vitest.config.ts
Due: eslint --fix, prettier --write

chore: Update .gitignore to exclude build artifacts
  .gitignore
  docs/.vitepress/cache/deps/@theme_index.js
  docs/.vitepress/cache/deps/@theme_index.js.map
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-B4YH5ZTW.js
  docs/.vitepress/cache/deps/chunk-B4YH5ZTW.js.map
  docs/.vitepress/cache/deps/chunk-SUT7UOZ3.js
  docs/.vitepress/cache/deps/chunk-SUT7UOZ3.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
Due: eslint --fix, prettier --write

Adds standardized CLI logging utilities
  packages/cli/src/cli.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger/logger.ts
  packages/cli/src/utils/logger/logger.utils.ts
Due: eslint --fix, prettier --write

Refactors CLI logging for consistency
  packages/cli/src/cli.ts
Due: eslint --fix, prettier --write

Docs and plan changes
  .plan/mvp_plan.md
  docs/reference/cli/src/classes/Logger.md
  docs/reference/cli/src/classes/SystemKeychain.md
  docs/reference/cli/src/functions/error.md
  docs/reference/cli/src/functions/info.md
  docs/reference/cli/src/functions/validateKey.md
  docs/reference/cli/src/functions/validateValue.md
  docs/reference/cli/src/functions/verbose.md
  docs/reference/cli/src/functions/warn.md
  docs/reference/cli/src/index.md
  docs/reference/cli/src/interfaces/IKeychainProvider.md
  docs/reference/cli/src/type-aliases/TKeyChainKey.md
  docs/reference/cli/src/type-aliases/TKeyChainValue.md
  docs/reference/cli/src/type-aliases/TPackageName.md
  docs/reference/cli/src/variables/LogTag.md
  docs/reference/cli/src/variables/version.md
  docs/reference/typedoc-sidebar.json
Due: prettier --write

Implements core CLI commands with config and manifest management
  packages/cli/src/cli.ts
  packages/cli/src/commands/del.action.ts
  packages/cli/src/commands/get.action.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/init.action.ts
  packages/cli/src/commands/list.action.ts
  packages/cli/src/commands/set.action.ts
  packages/cli/src/commands/validate.action.ts
  packages/cli/src/commands/welcome.action.ts
  packages/cli/src/core/config/config.factory.ts
  packages/cli/src/core/config/config.manager.ts
  packages/cli/src/core/config/config.parser.ts
  packages/cli/src/core/config/config.ts
  packages/cli/src/core/manifest/manifest.factory.ts
  packages/cli/src/core/manifest/manifest.manager.ts
  packages/cli/src/core/manifest/manifest.parser.ts
  packages/cli/src/core/manifest/manifest.ts
  packages/cli/src/core/system-keychain.ts
  packages/cli/src/types/types.schema.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/logger/index.ts
  packages/cli/src/utils/path-resolver.ts
  packages/cli/src/utils/template-finder.ts
Due: eslint --fix, prettier --write

Bumps CLI package version to 0.1.2
  packages/cli/package-lock.json
  packages/cli/package.json
Due: prettier --write

feat: add template generation command
  packages/cli/src/cli.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/template.action.ts
Due: eslint --fix, prettier --write

Bumps @envguard/cli package version
  packages/cli/package-lock.json
  packages/cli/package.json
Due: prettier --write

feat: add UX improvements and automated publishing
  packages/cli/src/cli.ts
  packages/cli/src/commands/copy.action.ts
  packages/cli/src/commands/edit.action.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/show.action.ts
  packages/cli/src/core/manifest/manifest.manager.ts
  packages/runner-node/package.json
Due: eslint --fix, prettier --write

Sets up automated package publishing and refines documentation
  .github/workflows/publish.yml
  .github/workflows/version-bump.yml
  .npmrc.example
  GITHUB_ACTIONS_SETUP.md
  PUBLISHING.md
  QUICK_PUBLISH_GUIDE.md
  README.md
  packages/cli/vitest.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Reduces Vitest coverage thresholds temporarily
  packages/cli/vitest.config.ts
Due: eslint --fix, prettier --write

fix: resolve pnpm version conflict in GitHub Actions workflows
  .github/workflows/publish.yml
  .github/workflows/version-bump.yml
Due: prettier --write

feat: enable npm provenance for package publishing
  .github/workflows/publish.yml
Due: prettier --write

feat: add GitHub Actions environment for npm publishing
  .github/workflows/publish.yml
Due: prettier --write

feat: explicitly set npm registry in publishConfig
  packages/cli/package.json
  packages/runner-node/package.json
Due: prettier --write

fix: allow workflow to continue if npm version already published
  .github/workflows/publish.yml
Due: prettier --write

fix: remove registry from publishConfig to allow dual publishing
  packages/cli/package.json
  packages/runner-node/package.json
Due: prettier --write

refactor: remove GitHub Packages publishing
  .github/workflows/publish.yml
Due: prettier --write

docs: update publishing guide to reflect npm-only strategy
  QUICK_PUBLISH_GUIDE.md
Due: prettier --write

docs: update CLI package README to match root README
  packages/cli/README.md
Due: prettier --write

chore: bump CLI version to 0.1.7
  packages/cli/package.json
Due: prettier --write

Update license contributor link in README
  README.md
Due: prettier --write

refactor: rename runner-node package to node for consistency
  .github/workflows/publish.yml
  .github/workflows/version-bump.yml
  .plan/implementation-guidebook.md
  .plan/mvp_plan.md
  CLAUDE.md
  PUBLISHING.md
  QUICK_PUBLISH_GUIDE.md
  README.md
  SCRIPTS.md
  docs/reference/index.md
  docs/reference/node/src/index.md
  packages/cli/package-lock.json
  packages/cli/src/utils/template-finder.ts
  packages/node/package-lock.json
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/tsconfig.json
  packages/node/tsup.config.ts
  packages/node/vitest.config.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: eslint --fix, prettier --write

Defines `@envguard/core` as an internal, bundled package
  packages/cli/src/types/index.ts
  packages/cli/tsconfig.json
  packages/core/README.md
  packages/core/package.json
  packages/node/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Adjusts Vitest CLI coverage thresholds
  packages/cli/vitest.config.ts
Due: eslint --fix, prettier --write
